<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DockerImplementation" verbose ="1" parallel ="tests">
	<test name="GoogleHomePageTest">
		<classes>
			<class name ="tests.HomePageTest"/>
		</classes>
	</test>
	<test name="GoogleSearchResultPageTest">
		<classes>
			<class name ="tests.SearchResultPageTest"/>
		</classes>
	</test>
</suite>
